[workspace]
resolver = "3"
members = ["crates/feta", "crates/integration", "crates/wasi"]

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
panic = "abort"