name: Build and Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip2

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-component
        run: cargo binstall cargo-component --force --no-confirm

      - name: Run fmt
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy --workspace -- -D warnings

      - name: Build WASM
        run: cargo component build -p feta_wasi --target wasm32-wasip2 --release

      - name: Build
        run: cargo build -p feta

      - name: Run tests
        run: cargo test --workspace